# 1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.

# Solutions:-

# * = expression
# "hello"  = value
# -87.8  = value
# -  = expression
# /  = expression
# +  = expression
# 6  = value

# 2. What is the difference between string and variable?

String :- In Python, string is an immutable sequence data type. It is the sequence of Unicode characters wrapped inside single, double, or triple quotes.

Eg. "Abhi", 'Hello' etc.


Variable :- A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.

Eg. x = 20, x is a variable here.

# 3. Describe three different data types.

Data types:- Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. 

### 1.Numeric Data type:-
In Python, numeric data type represent the data which has numeric value. Numeric value can be integer, floating number or even complex numbers. These values are defined as int, float and complex class in Python. 

Integers – This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be. Eg. 15,100,etc.

Float – This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Eg. 2.75, 14.85 etc.

Complex Numbers – Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j

### 2.Sequence Data type:-
In Python, sequence is the ordered collection of similar or different data types. Sequences allows to store multiple values in an organized and efficient fashion. There are several sequence types in Python –

String:- In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.
Eg. A = "abhi"

List:- Lists are just like the arrays, declared in other languages which is a ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.
Eg. A = \[1,2,3]

Tuple:-Just like list, tuple is also an ordered collection of Python objects. The only difference between tuple and list is that tuples are immutable i.e. tuples cannot be modified after it is created. It is represented by tuple class.
Eg. A = (1,2,3,"abhi")

### 3.Boolean Data Types:- 
Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false. It is denoted by the class bool.

# 4. What is an expression made up of? What do all expressions do?

Expression:- An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators. So that if there is more than one operator in an expression, their precedence decides which operation will be performed first.

1. Constant Expressions: These are the expressions that have constant values only.
2. Arithmetic Expressions: An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis. The result of this type of expression is also a numeric value. The operators used in these expressions are arithmetic operators like addition, subtraction, etc
3. Integral Expressions: These are the kind of expressions that produce only integer results after all computations and type conversions.
4. Floating Expressions: These are the kind of expressions which produce floating point numbers as result after all computations and type conversions.
5. Relational Expressions: In these types of expressions, arithmetic expressions are written on both sides of relational operator (> , < , >= , <=). Those arithmetic expressions are evaluated first, and then compared as per relational operator and produce a boolean output in the end.
6. Logical Expressions: These are kinds of expressions that result in either True or False. It basically specifies one or more conditions. For example, (10 == 9) is a condition if 10 is equal to 9. As we know it is not correct, so it will return False
7. Bitwise Expressions: These are the kind of expressions in which computations are performed at bit level.
8. Combinational Expressions: We can also use different types of expressions in a single expression, and that will be termed as combinational expressions.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expressions represent something, like a number, a string, or an instance of a class. An expression is an instruction that combines values and operators and always evaluates down to a single value.

For example, this is an expression:

5 + 5

Anything that does something is a statement. Any assignment to a variable or function call is a statement. A Python statement is pretty much everything else that isn't an expression. Here's an assignment statement:

spam = 10

# 6. After running the following code, what does the variable bacon contain?
### bacon = 22
### bacon + 1

In [6]:
bacon = 22
bacon + 1

23

In [7]:
bacon

22

In [8]:
#original value will remain the same untill it is assigned back to bacon.

# 7. What should the values of the following two terms be?
### 'spam' + 'spamspam'
### 'spam'*3

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Rules for creating variables in Python- 
A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
Variable names are case-sensitive (name, Name and NAME are three different variables).
The reserved words(keywords) cannot be used naming the variable.

Here, eggs is not a reserved keyword and follows the above rules fro variable creation,hence it can be used as variable.
While, 100 is a number and as per rule, a variable can not start with a number because it will create confusion between a variable and a value, hence it is not allowed.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [26]:
x= 10.00

In [27]:
print(x)
type(x)

10.0

float

In [28]:
y = int(x)

In [29]:
print(y)
type(y)

10

int

In [30]:
z = str(x)

In [33]:
print(z)
type(z)

10.0

str

In [34]:
m = float(z)

In [35]:
print(m)
type(m)

10.0

float

In [32]:
# int(), float(), str() functions can be used to get the int, float, and string version of a value.

# 10. Why does this expression cause an error? How can you fix it?
### 'I have eaten' + 99 + 'burritos.'

In [36]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [37]:
# The reason for this error is different data types. concatenation is possible only with same data types. 
# So, we will have to convert 99 into a string to fix this issue.

In [39]:
"I have eaten" + " 99 " + "burritos."

'I have eaten 99 burritos.'

##  End of Assignment.
##  Abhishek Mohan
##  abhishekmohan540@gmail.com
##  FSDS Bootcamp 2.0